#
# Chaos Monkey Properties
# See https://github.com/Netflix/SimianArmy/wiki/Chaos-Settings
# and https://github.com/Netflix/SimianArmy/wiki/The-Chaos-Monkey-Army
# vim: ft=jproperties
#

simianarmy.chaos.enabled = {{getv "/simianarmy/chaos/enabled" "true"}}
simianarmy.chaos.leashed = {{getv "/simianarmy/chaos/leashed" "true"}}
simianarmy.chaos.burnmoney = {{getv "/simianarmy/chaos/burnmoney" "false"}}
simianarmy.chaos.terminateOndemand.enabled = {{getv "/simianarmy/chaos/terminateondemand/enabled" "false"}}

simianarmy.chaos.mandatoryTermination.enabled = {{getv "/simianarmy/chaos/mandatorytermination/enabled" "false"}}
{{if exists "/simianarmy/chaos/mandatorytermination/windowindays" -}}
simianarmy.chaos.mandatoryTermination.windowInDays = {{getv "/simianarmy/chaos/mandatorytermination/windowindays"}}
{{end -}}
{{if exists "/simianarmy/chaos/mandatorytermination/defaultprobability" -}}
simianarmy.chaos.mandatoryTermination.defaultProbability = {{getv "/simianarmy/chaos/mandatorytermination/defaultprobability"}}
{{end -}}

simianarmy.chaos.ASG.enabled = {{getv "/simianarmy/chaos/asg/enabled" "false"}}
simianarmy.chaos.ASG.probability = {{getv "/simianarmy/chaos/asg/probability" "1.0"}}
simianarmy.chaos.ASG.maxTerminationsPerDay = {{getv "/simianarmy/chaos/asg/maxterminationsperday" "1.0"}}
{{if exists "/simianarmy/chaos/asgtag/key" -}}
simianarmy.chaos.ASGtag.key = {{getv "/simianarmy/chaos/asgtag/key"}}
{{end -}}
{{if exists "/simianarmy/chaos/asgtag/value" -}}
simianarmy.chaos.ASGtag.value = {{getv "/simianarmy/chaos/asgtag/value"}}
{{end -}}

simianarmy.chaos.shutdowninstance.enabled = {{getv "/simianarmy/chaos/shutdowninstance/enabled" "true"}}
simianarmy.chaos.blockallnetworktraffic.enabled = {{getv "/simianarmy/chaos/blockallnetworktraffic/enabled" "false"}}
simianarmy.chaos.detachvolumes.enabled = {{getv "/simianarmy/chaos/detachvolumes/enabled" "false"}}
simianarmy.chaos.burncpu.enabled = {{getv "/simianarmy/chaos/burncpu/enabled" "false"}}
simianarmy.chaos.burnio.enabled = {{getv "/simianarmy/chaos/burnio/enabled" "false"}}
simianarmy.chaos.killprocesses.enabled = {{getv "/simianarmy/chaos/killprocesses/enabled" "false"}}
simianarmy.chaos.nullroute.enabled = {{getv "/simianarmy/chaos/nullroute/enabled" "false"}}
simianarmy.chaos.failec2.enabled = {{getv "/simianarmy/chaos/failec2/enabled" "false"}}
simianarmy.chaos.faildns.enabled = {{getv "/simianarmy/chaos/faildns/enabled" "false"}}
simianarmy.chaos.faildynamodb.enabled = {{getv "/simianarmy/chaos/faildynamodb/enabled" "false"}}
simianarmy.chaos.fails3.enabled = {{getv "/simianarmy/chaos/fails3/enabled" "false"}}
simianarmy.chaos.filldisk.enabled = {{getv "/simianarmy/chaos/filldisk/enabled" "false"}}
simianarmy.chaos.networkcorruption.enabled = {{getv "/simianarmy/chaos/networkcorruption/enabled" "false"}}
simianarmy.chaos.networklatency.enabled = {{getv "/simianarmy/chaos/networklatency/enabled" "false"}}
simianarmy.chaos.networkloss.enabled = {{getv "/simianarmy/chaos/networkloss/enabled" "false"}}

simianarmy.chaos.notification.global.enabled = {{getv "/simianarmy/chaos/notification/global/enabled" "false"}}
{{if exists "/simianarmy/chaos/notification/sourceemail" -}}
simianarmy.chaos.notification.sourceEmail = {{getv "/simianarmy/chaos/notification/sourceemail"}}
{{end -}}
{{if exists "/simianarmy/chaos/notification/receiveremail" -}}
simianarmy.chaos.notification.global.receiverEmail = {{getv "/simianarmy/chaos/notification/receiveremail"}}
{{end -}}
